/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Rubik', sans-serif;
  background-color: hsl(270, 20%, 96%);  
}

.container{
    max-width: 520px;
    margin: 0 auto;
}

/* Making SVG like object to the body, purple  */
.container::before{
    content: "";
    width: 10rem;
    height: 32rem;
    background-image: linear-gradient( 90deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    position: absolute;
    top: 0;
    border-bottom-right-radius: 20rem;
    z-index: -1;
}

/* Mobile Design First */
/* Mobile Design First */
/* Mobile Design First */


/* Mobile Header */
.mobile{
    max-width: 300px;
    padding: 1rem;
    margin: 0 auto;
    background-color:  #fff;
    border-radius: 1.2rem;
    margin: 5rem auto 0 auto;
    z-index: 2;
    box-shadow: 8px 8px 25px 0px rgb(255, 200, 255);
}
.mobile_header{
    margin-bottom: -.4rem;
    background-image: linear-gradient( 90deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    display: flex;
    padding: 1rem;
    gap: .8rem;
    border-radius: 1rem 1rem .5rem .5rem;
    color: #fff;
}

.big_text{
    font-weight: bold;
}
.small_text{
    font-size: .6rem;
}
.person_image{
    align-self: center;
    display: flex;
}
.person_image img{
    border-radius: 50%;
}
.person_details{
    flex-grow: 1;
}
.person_nav{
    align-self: center;
}

/* Mobile Chat Section*/
.mobile_chat{
    background-color: hsl(300, 100%, 96%);
    padding: 1.4rem 1rem;
    font-size: .7rem;
    border-radius: 1.2rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    z-index: 2;
    position: relative;
}
.mobile .mobile_chat p{
    margin: .4rem 0;
    border-radius: .5rem;
    padding: .4rem;
}
.chat_1{
    max-width: 70%;
    color: hsl(276, 55%, 52%); 
}
.chat_1 p{
    background-color: hsl(272, 41%, 93%);
}
.chat_2_container{
    display: flex;
    justify-content: flex-end;
}
.chat_2{
    max-width: 60%;
    margin: .5rem 0;
    color: hsl(271, 15%, 43%);
}
.chat_2_img{
    display: flex;
    margin: 0 0 0 -2rem;
}
.chat_2 img{
    max-width: 100%;
    border-radius: .5rem;
    margin: 0 0 0 1rem;
}
.chat_2 p{
    background-color: #fff;
}
.chat_3{
    max-width: 70%;
    color: hsl(276, 55%, 52%);
    background-color: hsl(272, 41%, 93%);
}

/*  Radio Section */
.radio{
    width: 70%;
    background-color: aqua;
    padding: .4rem;
    display: flex;
    margin: 0.5rem 0;
    border-radius: .4rem;
     background-image: linear-gradient( 270deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
     color: #fff;
}
.radio label{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.radio span{
    display: flex;
    align-self: center;
}
.dollars_text{
    font-size: 1rem;
}

/* Send A message */
.message_area{
    display: flex;
}
.message_area{
    margin-top: 1rem;
}
input[type="text"]{
    width: 100%;
    border-radius: 1rem;
    padding-left: 1rem;
    border: 0;
}

input[type="text"]::placeholder{
    padding-left: 1rem;
    text-indent: 10px;
    text-align: left;
}

button{
    padding: .6rem;
    background-color: hsl(271, 36%, 24%);
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
    margin-left: -40px;
    margin-top: .3rem;
    margin-bottom: .3rem;
    cursor: pointer;
    border: 0;
}

.mobile_footer{
    text-align: center;
    padding: 2rem 0;
    max-width: 420px;
    margin: 0 auto;
}
.mobile_footer h1{
    font-size: 2.5rem;
    margin:1.5rem 0 ;
    color: hsl(275, 36%, 24%);
}
.mobile_footer p{
    padding: 0 4rem;
    color: hsl(270, 7%, 60%);
    font-size: .9rem;
}

/*  */
.attribution{
    font-size: .8rem;
    background-color: hsl(264, 100%, 60%);
    color: #fff;
    padding: .4rem 0 ;
    text-align: center;
}
.attribution p{
    padding: .4rem 0;
}
.attribution a{
    all:unset; 
    cursor: pointer;
}
.attribution a span{
    background-image: linear-gradient( 90deg, hsl(263, 28%, 28%), hsl(293, 100%, 63%));
    font-size: 1.2rem;
    display: inline-block;
    max-width: 50%;
    margin: 0 auto;
}

/* MOBILE DONE */

/* Desktop Version */
/* Desktop Version */
/* Desktop Version */

@media (min-width: 920px) {
    .container::before {
      position: absolute;
      left: 4rem;
      width: 26rem;
      height: 46rem;
      border-bottom-left-radius: 20rem;
      background-image: linear-gradient(
        360deg,
        hsl(264, 100%, 61%),
        hsl(293, 100%, 63%)
      );
    }
    .container {
      max-width: 1440px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .mobile {
      margin-right: 0;
      margin-top: 8.1rem;
      margin-bottom: 5rem;
    }
    .mobile_footer {
      margin-left: 12rem;
      text-align: left;
    }
    .mobile_footer p {
      padding: 0;
      font-size: 1.1rem;
    }
    .attribution a span {
      font-size: 1.4rem;
      padding: 0.5rem 2rem;
      border-radius: 2rem;
    }
  }
  

















